@media (min-width:320px) and (max-width:599px){
    .itemDContainerBlog {
        grid-column: span 12;
        grid-row: span 1;

    }
 
   }
   
   @media (min-width:600px) and (max-width:1025px){
 
     .itemDContainerBlog {
         grid-column: span 12;
         grid-row: span 1;

     }

   }
   
   @media (min-width:1026px) {
    .itemDContainerBlog {
        grid-column: span 12;
        grid-row: span 1;

    }
 
   }
 
 