@font-face { font-family: Abril Fatface; src: url('../resources/Abril_Fatface/AbrilFatface-Regular.ttf')}


*{
    font-family: AbrilFatface-Regular
}

.app {
background-color: rgba(208,208,201,255);
height: 100%;
}