.gridContainer {
    grid-column: auto;
    grid-row:auto;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 75px;
    background-color: rgba(208,208,201,255);
}