@media (min-width:320px) and (max-width:599px){
    .gridContainer {
        grid-column: auto;
        grid-row:auto;
        height: 100%;
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 75px;
        background-color: rgba(208,208,201,255);
    }
}

@media (min-width:600px) and (max-width:1025px){
    .gridContainer {
        grid-column: auto;
        grid-row:auto;
        height: 100%;
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 75px;
        background-color: rgba(208,208,201,255);
    }
}
   
@media (min-width:1026px) {
    .gridContainer {
        grid-column: auto;
        grid-row:auto;
        height: 100%;
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 75px;
        background-color: rgba(208,208,201,255);
    }
 
}