@media (min-width:320px) and (max-width:599px){
    .itemEContainerBlog {
        grid-column: span 12;
        grid-row: span 1;

    }
 
   }
   
   @media (min-width:600px) and (max-width:1025px){
 
     .itemEContainerBlog {
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(4,18.75px);
        grid-column: span 12;
        grid-row: span 1;
        border: black 1px solid;
        margin: 5px;

     }

     .itemEABlog{
        grid-column: span 1;
        grid-row: span 4;
        height: 100%;
        width: 100%;


     }
     .itemEBBlog{
        grid-column: 2 / span 9;
        grid-row: 1 / span 1;
        padding: 5px;
         
    }

    .itemECBlog{
        grid-column: 2 / span 8;
        grid-row: 2 / span 3;
        padding: 5px;
        font-size: smaller;
        overflow: scroll;
         
    }
    .itemEDBlog{
        grid-column: 10 / span 1;
        grid-row: 2 / span 2;
        height: 100%;
        margin: auto;

         
    }

    .itemEEBlog{
        grid-column: 11 / span 1;
        grid-row: 1 / span 4;
        height: 100%;
        width: 100%;
         
    }
    .itemEFBlog{
        grid-column: 12 / span 1;
        grid-row: 1 / span 4;
        font-size: 50px;
        margin: auto;
         
    }


   }
   
   @media (min-width:1026px) {
    .itemEContainerBlog {
        grid-column: span 12;
        grid-row: span 1;

    }
 
   }
 
 